<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Hobbies</title>
</head>
<body>
    <ul>
        <% for(let h of hobbies)  { %>
        <li><b><%= h.feeling %></b> - <%= h.activity %>
        <a href="/hobbies/<%= h.id %>">Details</a></li>
        <% } %>
    </ul>
    <a href="/hobbies/new">New Hobby</a>
</body>
</html>