<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Hobby</title>
</head>
<body>
    <form action="/hobbies" method="post" >
        <label for="feeling">Feeling: </label>
        <input type="text" name="feeling" id="feeling" placeholder="feeling">
        <label for="activity">Activity: </label>
        <input type="text" name="activity" id="activity" placeholder="activity">
        <button>Submit</button>
    </form>
    <a href="/hobbies">All Hobbies</a>
</body>
</html>