<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobby Details</title>
</head>
<body>
    <h1><%= foundHobby.feeling %></h1>
    <h2><%= foundHobby.activity %></h2>
    <a href="/hobbies">Back to Hobbies</a>
    <a href="/hobbies/<%= foundHobby.id%>/edit">Edit Hobby</a>
    <form method="POST" action="/hobbies/<%= foundHobby.id%>?_method=DELETE">
    <button>Delete</button>
    </form>
</body>
</html>